* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    background-color: #e9ecef;
    padding: 30px;
}

.container {
    max-width: 990px;
    margin: 0 auto;
}

.loader {
    display: block;
    margin: 0 auto;
}

form {
    text-align: center;
}

select#country,
select#year {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

#holidayTable {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#holidayTable td,
#holidayTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#holidayTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#holidayTable tr:hover {
    background-color: #ddd;
}

#holidayTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 5px;
}

.emptyMsg {
    text-align: center;
    color: red;
    border: 1px solid #989898;
    padding: 10px;
    margin: 20px auto;
}